///
/// Main Nav

// includes
@import '../../../scss/variables';
@import '../../../scss/mixins';

.mainNav{
  &-brand{    
    color: $blue;
    @include font-size(18px, 1, 900, 1px);
  }
  &-link{
    color: $blue;
    @include font-size(16px, 1, 900, 1px);
    &.active{
      color: $red;
    }
  }
}

