<nav class="navbar navbar-expand-lg mainNav">
  <div class='container-fluid'>    
    <a routerLink="" reouterLinkActive="active" class="navbar-brand mainNav-brand" (click)="setTitle('Home - NG Code Lab')">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mainNav-nav">
        <li class="nav-item mainNav-link"><a routerLink="typography" routerLinkActive="active" #menuItem1="routerLinkActive" [attr.aria-current]="menuItem1.isActive ? 'page' : undefined" class="nav-link mainNav-link" (click)="setTitle('Typography - NG Code Lab')">Typography</a></li>
        <li class="nav-item mainNav-link"><a routerLink="basic-accordion" routerLinkActive="active" #menuItem2="routerLinkActive" [attr.aria-current]="menuItem2.isActive ? 'page' : undefined" class="nav-link mainNav-link" (click)="setTitle('Basic Accordion - NG Code Lab')">Basic Accordion</a></li>
        <li class="nav-item mainNav-link"><a routerLink="slider" routerLinkActive="active" #menuItem3="routerLinkActive" [attr.aria-current]="menuItem3.isActive ? 'page' : undefined" class="nav-link mainNav-link" (click)="setTitle('Slider - NG Code Lab')">Slider</a></li>
        <li class="nav-item mainNav-link"><a routerLink="modal" routerLinkActive="active" #menuItem4="routerLinkActive" [attr.aria-current]="menuItem4.isActive ? 'page' : undefined" class="nav-link mainNav-link" (click)="setTitle('Modal - NG Code Lab')">Modal</a></li>
        <li class="nav-item mainNav-link"><a routerLink="prograss-bar" routerLinkActive="active" #menuItem5="routerLinkActive" [attr.aria-current]="menuItem5.isActive ? 'page' : undefined" class="nav-link mainNav-link" (click)="setTitle('Progress Bars - NG Code Lab')">Progress Bars</a></li>
      </ul>
    </div> 
  </div> 
</nav>