<section aria-live="polite" >
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <h1>Angular Boilerplate</h1>
        <p>This is an Angular code base of various common UI items.</p>
        <ul>
          <li><a routerLink="typography" routerLinkActive="active" class="nav-link mainNav-link" >Typography</a></li>
          <li><a routerLink="basic-accordion" routerLinkActive="active" class="nav-link mainNav-link" >Basic Accordion</a></li>
        </ul>
      </div>    
    </div>
  </div>
</section>