<section aria-live="polite">
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <h1>Tables</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-lg-8'>
        <h2>Responsive Table</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>Basket Ball</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>        
      </div>
    </div>
  </div>
</section>