<section aria-live="polite">
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <h1>Progress Bars</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-lg-3'>
        <h3>25% Width</h3>
        <div class='progress'>
          <div class="progress-bar w-25 bars" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar">
            <div class='bars'></div>
          </div>
        </div>
      </div>
      <div class='col-12 col-lg-3'>
        <h3>33% Width</h3>
        <div class='progress'>
          <div class="progress-bar w-33 bars" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar">
            <div class='bars'></div>
          </div>
        </div>
      </div>
      <div class='col-12 col-lg-3'>
        <h3>75% Width</h3>
        <div class='progress'>
          <div class="progress-bar w-75 bars" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar">
            <div class='bars'></div>
          </div>
        </div>
      </div>            
    </div>
  </div>
</section>