/// 
/// Custom Variables
/// 
/// @author Mark Handy
/// 
/// @name Variables
/// 
/// @group variables


/// Black
/// @type Colour
$black: #000;
/// @type Colour
$white: #fff;
/// @type Colour
$blue:  #1057A2;
/// @type Colour
$red: red;
/// @type Colour
$silver: #cdcdcd;
/// @type Colour
$grey :#767676;
/// @type Colour
$platinum: #E5E4E2;